/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Makes it so 1rem is equal to 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}
h4,
h5 {
  font-size: 2.8rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
  transition: ease all 0.5s;
}

a:hover {
  color: rgb(131, 83, 12);
}

button {
  padding: 2rem 6rem;
  background: #055fce;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all ease 0.5s;
}

button:hover {
  background: #0a3d7c;
}
/* Nav section */

.main-head {
  background-color: #131c27;
  color: white;
}

nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex: 1 1 40rem;
}

#logo {
  flex: 3 1 40rem;
  font-family: "Pattaya", sans-serif;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./Images/balloons.jpg);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
}

.hero h3 {
  margin: 3rem 0rem;
}
